// typography
$txt-primary: #555459;
$txt-secondary: #8E8E8E;
$header-primary: rgba(0,0,0,0.8);

// spacing
$space-smaller: 5px;
$space-small: 10px;
$space-medium: 20px;
$space-large: 35px;
$space-larger: 80px;
